@font-face {
    font-family: Hussar;
    src: url(/Font/HussarBold-7mRE.otf);
}
*{
    font-family: Hussar;
    align-content: center;
}
.imgLogo{
    width: 150px;
}
.formRegAuth{
    width: 500px;
    margin-left: 32%;
    
}
.btnDel{
    margin-left: 10px;
    width: 200px;
}

.box {
    width: 400px;
    margin-left: 35%;
    
}
.contImg{
    width: 400px;
}
main{
    justify-content: center;
    text-align: center;
}
.contImg img{
    width: 400px;
    height: 400px;
   border: 3px solid red !important;
}
.formPosition{
    flex-direction: column;
}
.formPositionItem{
  flex-direction: column;
  
  width: 500px;
  margin-left: 32%;
}
.error-message {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #f5c6cb;
    border-radius: 4px;
}
.imgCar{
  width: 100%;
}
  
